{% for id, character in character_list.items() %}
<p>
    <a href="{{ url_for("character", character_id=id, junk=(character.0 | lower | replace(" ", "-") )) }}">
        {{character.0}}
    </a>        
</p>

{% endfor %}